body {
    background-image: url('Fotos/backgroundblack.png');
    /* Set background image to fixed (don't scroll along with the page) */
    background-attachment: fixed;
    /* Center the background image */
    background-position: center;
    /* Set the background image to no repeat */
    background-repeat: no-repeat;
    /* Scale the background image to be as large as possible */
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
}
form {
    max-width: 58em;
    padding: 1em;
    margin: auto;
    border: 0.25em solid #d6313f;
    background-color: #0c1016;
    color: #31d8eb;
    text-align: center;
}
form fieldset {
    border: 0.1em solid #31d8eb;
}
form legend {
    display: none;
}
form div {
    margin: 1em 0;
}
form label,
form input {
    display: inline-block;
    width: 12em;
}
form input {
    padding: 0.25em;
}