body {
    background-image: url('Fotos/background.png');
    /* Set background image to fixed (don't scroll along with the page) */
    background-attachment: fixed;
    /* Center the background image */
    background-position: center;
    /* Set the background image to no repeat */
    background-repeat: no-repeat;
    /* Scale the background image to be as large as possible */
    background-size: cover;
}

#canvasLeft {
    border: 8px solid rgb(10, 10, 9);
    background: #becfea;
    width: 24%;
    height: 20%;
    /* Set background image to fixed (don't scroll along with the page) */
    background-attachment: fixed;
    /* Center the background image */
    background-position: center;
    /* Set the background image to no repeat */
    background-repeat: no-repeat;
    /* Scale the background image to be as large as possible */
    background-size: cover;
    margin: 0%
}

#canvasRight {
    border: 8px solid rgb(34, 16, 116);
    background: #41994e;
    width: 24%;
    height: 20%;
    /* Set background image to fixed (don't scroll along with the page) */
    background-attachment: fixed;
    /* Center the background image */
    background-position: center;
    /* Set the background image to no repeat */
    background-repeat: no-repeat;
    /* Scale the background image to be as large as possible */
    background-size: cover;
    margin-left: 15%
}
#boxLeft {
    border: 8px solid rgb(10, 10, 9);
    background: #becfea;
    width: 5%;
    height: 15%;
    /* Set background image to fixed (don't scroll along with the page) */
    background-attachment: fixed;
    /* Center the background image */
    background-position: center;
    /* Set the background image to no repeat */
    background-repeat: no-repeat;
    /* Scale the background image to be as large as possible */
    background-size: cover;

}
#boxRight {
    border: 8px solid rgb(34, 16, 116);
    background: #41994e;
    width: 10%;
    height: 5%;
    /* Set background image to fixed (don't scroll along with the page) */
    background-attachment: fixed;
    /* Center the background image */
    background-position: center;
    /* Set the background image to no repeat */
    background-repeat: no-repeat;
    /* Scale the background image to be as large as possible */
    background-size: cover;
}

.popup_content {
    margin: 10px;
    padding: 0 10px;
    max-width: 90%;
    border: 2px solid #444;
    background: white;
    visibility: hidden;
    position: fixed;
}

h2 {
    color: red;
}

#name {
    color: green;
}

#enemyName {
    color: green;
}